<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
		
		<!-- jquery -->
		<script type="text/javascript" src='/js/lib/jquery-1.11.1.min.js'></script>
		
		<!-- bootstrap -->
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/sticky-footer-navbar.css' />
		<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
		
		<!-- dropzone -->
		<link rel="stylesheet" href="/stylesheets/dropzone/dropzone.css">
		<link rel="stylesheet" href="/stylesheets/dropzone/basic.css">
		<script type="text/javascript" src="/js/lib/dropzone/dropzone.js"></script>
		
		<!-- toastr -->
		<link rel="stylesheet" href="/stylesheets/toastr.min.css">
		<script type="text/javascript" src="/js/lib/toastr.min.js"></script>
		
		<!-- countdown -->
		<script type="text/javascript" src="/js/lib/countdown/jquery.countdown.min.js"></script>
		
		<!-- share-button -->
		<link rel="stylesheet" href="/stylesheets/jquery.share.css">
		<script type="text/javascript" src="/js/lib/jquery.share.js"></script>
		
		<!-- custom -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/js/misc/util.js'></script>
		<script src='/js/misc/temp-space.js'></script>
	</head>
	<body>
	
		<!-- HEADER -->
		<div class="jumbotron">
			<div style="margin-bottom:5px; position:absolute; top:5px; left:5px;">
				<span class="label label-default btn"><span class="glyphicon glyphicon-home"></span> <%= nrSpaces %></span>
				<span class="label label-default btn"><span class="glyphicon glyphicon-upload"></span> <%= nrUploads %></span>
				<span class="label label-default btn"><span class="glyphicon glyphicon-hdd"></span> <%= totalSize %> GB</span>
			</div>
			<div class="container">
				<a href="/">
					<img src="/images/logo.png" alt="Responsive image" height="160" width="160" class="img-responsive center-block"></img>
				</a>
				<h3 class="text-center"><strong><%= title %></strong> is what it is... a temporary shareable file space.</h3>
				
				<div id="timeExpire" class="text-center" style="display: none;">
					<strong>Time Until Expire</strong> <span id="clock"></span>
				</div>
			</div>
		</div>
		
		<!-- body -->
		<%-body -%>
		
		<!-- FOOTER -->
		<div style="padding-top:5px;">
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div id="social-bar" class="social-bar text-center"></div>
						</div>
						<div class="col-md-6">
							<p class="text-muted text-center">
								<a href='#'>Daniel Arenhage</a> 2014
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function() {
				$('#social-bar').share({
					networks: ['email','pinterest','googleplus','digg','facebook','twitter','linkedin'],
			        theme: 'square',
			        urlToShare: window.location.href
			    });
			});
		</script>
	</body>
</html>